# Ignore compiled binaries
abalone
abalone_generator
compareBoards
board_visualizer
play_game
testNormalized.board
temp.input
*.txt
*.move
venv

# CMake build directory
build/
CMakeFiles/
*.cmake
*.make
*.o
*.so