# Ignore compiled binaries
abalone
abalone_generator
compareBoards
board_visualizer
play_game
testNormalized.board
temp.input
*.txt
!CMakeLists.txt
*.move
venv
venv".idea/" 
venv
__pycache__/
*.pyc
move_history.json

build/
CMakeFiles/
*.cmake
*.make
*.o
*.so
*.dylib
*.a
*.out